<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zhuoqin.platform.job">

	<resultMap id="JobLog" type="cn.zhuoqin.platform.job.model.JobLog">
		<result property="id" column="ID" />
		<result property="jobId" column="JOB_ID" />
		<result property="jobName" column="JOB_NAME" />
		<result property="batchId" column="BATCH_ID" />
		<result property="incTypeId" column="INC_TYPE_ID" />
		<result property="totalNumber" column="TOTAL_NUMBER" />
		<result property="successNumber" column="SUCCESS_NUMBER" />
		<result property="startTime" column="START_TIME" />
		<result property="endTime" column="END_TIME" />
		<result property="result" column="RESULT" />
		<result property="remark" column="REMARK" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="JobLog.columns">
	    <![CDATA[
		 ID,JOB_ID,JOB_NAME,BATCH_ID,INC_TYPE_ID,TOTAL_NUMBER,SUCCESS_NUMBER,START_TIME,END_TIME,RESULT,REMARK,CREATE_TIME,UPDATE_TIME
		 	    ]]>
	</sql>

	<sql id="JobLog.where">
		<where>
			<if test="id != null and id!='' ">
				AND ID = #{id}
			</if>
			<if test="jobName != null and jobName !='' ">
				AND JOB_NAME like '%'||#{jobName}||'%'
			</if>
			<if test="statusId != null and statusId !='' ">
				AND STATUS_ID = #{statusId}
			</if>
			<if test="result != null and result !='' ">
				AND RESULT = #{result}
			</if>
			<if test="startTime != null and startTime !='' ">
				AND TO_CHAR(START_TIME,'yyyy-MM-dd') &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime !='' ">
				AND TO_CHAR(END_TIME,'yyyy-MM-dd') &lt;= #{endTime}
			</if>
		</where>
	</sql>

	<insert id="JobLog.insert">
		insert into sys_job_log
		(
			JOB_ID,JOB_NAME,BATCH_ID,INC_TYPE_ID,TOTAL_NUMBER,SUCCESS_NUMBER,START_TIME,END_TIME,RESULT,REMARK,CREATE_TIME,UPDATE_TIME
		)
		values
		(#{jobId},#{jobName},#{batchId},#{incTypeId},#{totalNumber},#{successNumber},#{startTime},#{endTime},#{result},#{remark},#{createTime},#{updateTime})
	</insert>

	<update id="JobLog.update">
		UPDATE sys_job_log
		<set>
			<if test="totalNumber != null ">
				TOTAL_NUMBER = #{totalNumber}
				,
			</if>
			<if test="successNumber != null ">
				SUCCESS_NUMBER = #{successNumber}
				,
			</if>
			<if test="startTime != null ">
				START_TIME = #{startTime}
				,
			</if>
			<if test="endTime != null ">
				END_TIME = #{endTime}
				,
			</if>
			ARGUMENT = #{argument},
			<if test="result != null ">
				RESULT = #{result}
				,
			</if>
			REMARK = #{remark},
			UPDATE_TIME = #{updateTime}
		</set>
		WHERE
		ID=#{id}
	</update>

	<select id="JobLog.select" resultMap="JobLog">
		SELECT
		<include refid="JobLog.columns" />
		FROM sys_job_log
	</select>

	<select id="JobLog.getList" resultMap="JobLog">
		SELECT
		<include refid="JobLog.columns" />
		FROM sys_job_log
		<include refid="JobLog.where" />
	</select>

	<select id="JobLog.getById" resultMap="JobLog">
		SELECT
		<include refid="JobLog.columns" />
		FROM sys_job_log
		WHERE
		ID=#{id}
	</select>

	<select id="JobLog.getByPage" resultMap="JobLog">
		SELECT R.* FROM (
		SELECT T.*,rownum row_num FROM (
		SELECT
		<include refid="JobLog.columns" />
		FROM sys_job_log
		<include refid="JobLog.where" />
		) T
		) R
		WHERE R.row_num &lt;=#{pageTo} and R.row_num >#{pageFrom}
	</select>

	<select id="JobLog.count" resultType="int">
		SELECT count(1) FROM sys_job_log
		<include refid="JobLog.where" />
	</select>
</mapper>
